.navBar{
    border: solid;
    display: flex;
    background-color: royalblue;
    color: wheat;
    padding: 30px;
    box-sizing: border-box;
    position:fixed;
    width: 100%;    
    top: 0;
    font-size: 30px;
}

.container{
    display: flex;
  max-width: 100%;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(4, 1fr);
  margin-top: 100px;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}